# PyPI 镜像源（取消注释使用）
# 清华源
-i https://pypi.tuna.tsinghua.edu.cn/simple

# 阿里云源
# -i https://mirrors.aliyun.com/pypi/simple/

# 中科大源
# -i https://pypi.mirrors.ustc.edu.cn/simple/

# 依赖包
streamlit>=1.31.0
pyvis>=0.3.2
networkx>=3.2.1
